.feature-image {
  background-color: rgb(51, 55, 64);
  height: 200px;
  position: relative;

  @media (min-width: 576px) {
    height: 150px;
  }
}

.buttons {
  top: 10px;
  right: 10px;
  position: absolute;

  button {
    border-radius: 5px;
  }
}
