.notification-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}

.notifications {
  max-width: 450px;
  min-width: 400px;

  &__title {
    white-space: normal;
  }

  &__message {
    white-space: normal;
  }

  &__is-unread {
    background-color: $gray-200;

    &:hover {
      background-color: $gray-300;
    }

    &:active {
      background-color: $primary;
    }
  }
}
