.navbar-collapse {
  position: absolute;
  top: 100%;
  right: 0px;
  padding: 15px 15px;

  :global {
    .navbar-nav {
      li.nav-item {

        .nav-link {
          color: white;
        }
      }
    }
  }

  @media (min-width: 576px) {
    position: relative;
    top: auto;
    right: auto;
  }

  // @media (min-width: 768px) {
  //   .navbar-collapse {
  //     position: relative;
  //     top: auto;
  //     right: auto;
  //   }
  // }
}
