// Styling for the navbar
#mainNav {
  border-bottom: 1px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;

  .navbar-brand {
    font-weight: 800;
    color: $white;

    &:focus,
    &:hover {
      color: fade-out($white, 0.2);
    }
  }

  .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: $gray-800;
  }

  .navbar-nav {
    > li.nav-item {
      > a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .dropdown-menu {
      position: absolute;
    }
  }

  .navbar-nav {
    > li.nav-item {
      > a {
        color: $white;

        &:focus,
        &:hover {
          color: fade-out($white, 0.2);
        }
      }
    }
  }

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    background-color: fade-out($white, 0.1);

    .navbar-brand {
      &:focus,
      &:hover {
        color: $primary;
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a {
          &:focus,
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  &.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  &.transparent-bg {
    background: transparent !important;
  }
}
