.media-lib {
  &__input-group-search {
    :global {
      .input-group-text {
        background-color: transparent;
        border-radius: 0;
        border: 0;
      }

      .form-control {
        border-radius: 0;
        background-color: transparent;
        border: 0;
        height: 70px;
      }
    }
  }

  &__file-item {
    .selected {
      box-shadow: 0 0 0 4px rgba(121, 82, 179, 0.4);
    }

    .file-card {
      position: relative;
      border-radius: 2px;
      padding-top: 61.8%;
      width: 100%;
      height: 0px;
      margin-bottom: 7px;
      background-color: rgb(246, 246, 246);

      &__wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 2px;
        top: 0px;
        left: 0px;
        background-color: rgb(51, 55, 64);
        color: white;

        > img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          margin: auto;
        }
      }

      &:hover .file-card__buttons {
        display: block;
      }

      &__buttons {
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;

        > button {
          border-radius: 5px;
          padding: 3px;
        }
      }
    }

    &__name,
    &__metadata {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__metadata {
      color: rgb(158, 167, 184);
    }
  }

  :global {
    .nav-tabs {
      .nav-link {
        cursor: pointer;
      }
    }
  }
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}
