// Import variables
@import './variables';

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Global CSS
@import './globals';

// Components
@import './components/buttons';
@import './components/navbar';
@import './components/forms';
@import './components/modal';

// Sections
@import './sections/contact';
@import './sections/footer';
@import './sections/masthead';
@import './sections/post';

.mt-7 {
  margin-top: 7rem;
}

.relative {
  position: relative;
}

#nprogress .bar {
  background: wheat !important;
}

html,
body {
  height: 100%;
}

#__next {
  min-height: 100%;

  .wrapper {
    overflow: auto;
    padding-bottom: 140px; /* this needs to be bigger than footer height*/
  }
}

.footer {
  position: relative;
  margin-top: -140px;
  height: 140px;
}
